h1{display: block; text-align: center;font-size: 100px; color: aliceblue; font-style: italic; font-weight: bold; background-color: rgb(247, 162, 226);}
p{display:block;font-size: medium;line-height: 150%;font-weight: bold;}
aaaa{background-color: rgb(247, 162, 226);}
p1{display: block;background-color: rgb(247, 162, 226);font-size: 25px;font-weight: bold;line-height: 150%;color: aliceblue;}